<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>视频播放</title>
<script src="../../static/js/adapter.js"></script> <!--rem适配js-->
<script src="../../static/js/menu.js"></script> <!--控制js-->
<link rel="stylesheet" href="../../static/css/base.css"> <!--初始化文件-->
<link rel="stylesheet" href="../../static/css/menu.css"> <!--主样式-->
<link rel="stylesheet" href="../../static/css/video-js.css">
  <!-- If you'd like to support IE8 -->
<script src="../../static/js/video_ie8.js"></script>
<link rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
<div style="text-align:center;clear:both">
<script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
<script src="/follow.js" type="text/javascript"></script>
</div>
<div id="menu">
    <!--隐藏菜单-->
    <div id="ensconce">
        <h2>
            <img src="../../static/images/show.png" alt="">
            视频列表
        </h2>
    </div>

    <!--显示菜单-->
    <div id="open">
        <div class="navH">
            视频列表
            <span><img class="obscure" src="../../static/images/obscure.png" alt=""></span>
        </div>
        <div class="navBox">
            <ul>
                {% block content %}
                    {% for topic in context %}
                        <li>
                            <h2 class="obtain" id="{{ topic.0 }}" onclick="play({{ topic.0 }})">{{ topic.0 }}、{{ topic.1 }}</h2>
                        </li>
                        {% empty %}
                        <p>暂时无内容</p>
                    {% endfor %}
                {% endblock content %}
            </ul>
        </div>
    </div>
</div>
<div id="title" class="title">
    <br>
    <span style="font-size: 25px; color: black">红花岗区中小学信息技术微课平台</span>
</div>
<div id="video_p" style="margin-right: 80px">
    <div id="video" class="player"></div>
</div>
<script src="../../static/js/video.js"></script>
</body>
</html>
<script>
    function play(id)
  {
  var x=id;
  var video='<video id="my-video" class="video-js" controls preload="auto" width="640" height="400" data-setup="{}">\n' +
        '   <source src="../../static/video/'+ x + '.mp4" type="video/mp4">\n' +
        '    <p class="vjs-no-js">\n' +
        '      To view this video please enable JavaScript, and consider upgrading to a web browser that\n' +
        '      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>\n' +
        '    </p>\n' +
        '</video>';
  document.getElementById("video").innerHTML=video;
  }
</script>